<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

    <title>程 式 集</title>
    <script src="{{ url_for('static', filename='/timetable/script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='/timetable/style.css') }}">

  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
<!--        <a class="navbar-brand" href="{{ url_for('home_index_page') }}">程 式 集</a> -->

        <a class="navbar-brand" href="{{ url_for('home_index_page') }}">程 式 集</a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('home_index_page') }}">主 頁<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home_index_page') }}">時 間 表</a>
                </li>
            </ul>
        </div>

    </nav>




    <p></p>
    <p></p>
    <h1>時 間 表</h1>

    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <a class="my-button" title="Relevant Title" href="\tt_dic_index">建造文憑</a><a class="my-button" title="Relevant Title" href="\tt_cic_index">建造證書</a>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js" integrity="sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u" crossorigin="anonymous"></script>
    -->

  </body>

  <style>
    body {
        background-color: #212121;
        color: white
    }
  </style>


</html>