{% extends 'base001.html' %}

    {% block content %}

    <p>&nbsp;</p>

    <h1>建造證書課程時間表</h1>

 <!--   <a href="/pdf_files/tt/0.pdf" class="button">建造文憑</a>

    <a href="/pdf_files/tt/0.pdf" class="button">建造證書</a>
-->

    <p>&nbsp;</p>
<h3>砌磚鋪瓦</h3>
<div class="btn-group" style="width:100%">
  <button style="width:100%"><a href="/pdf_files/tt/ccbt21001.pdf">CCBT21001</button></a>
</div>

    <p>&nbsp;</p>
<h3>細木工藝</h3>
<div class="btn-group" style="width:100%">
  <button style="width:100%"><a href="/pdf_files/tt/ccjn21001.pdf">CCJN21001</button></a>
</div>

    <p>&nbsp;</p>
<h3>油漆粉飾</h3>
    <div class="btn-group" style="width:100%">
    <button style="width:100%"><a href="/pdf_files/tt/ccpd21001.pdf">CCPD21001</button></a>
    </div>

    <p>&nbsp;</p>
<h3>機械維修</h3>
    <div class="btn-group" style="width:100%">
    <button style="width:100%"><a href="/pdf_files/tt/ccpm21001.pdf">CCPM21001</button></a>
    </div>

    <p>&nbsp;</p>
<h3>水喉</h3>
    <div class="btn-group" style="width:100%">
    <button style="width:100%"><a href="/pdf_files/tt/ccpp21001.pdf">CCPP21001</button></a>
    </div>

    <p>&nbsp;</p>
<h3>電力裝置</h3>
    <div class="btn-group" style="width:100%">
    <button style="width:100%"><a href="/pdf_files/tt/ccec21001.pdf">CCEC21001</button></a>
    </div>

    <p>&nbsp;</p>
<h3>工地測量</h3>
    <div class="btn-group" style="width:100%">
    <button style="width:100%"><a href="/pdf_files/tt/ccss21001.pdf">CCSS21001</button></a>
    </div>

    {% endblock %}
