{% extends 'base001.html' %}

    {% block content %}

    <p>&nbsp;</p>

    <h1>建造文憑課程時間表</h1>

 <!--   <a href="/pdf_files/tt/0.pdf" class="button">建造文憑</a>

    <a href="/pdf_files/tt/0.pdf" class="button">建造證書</a>
-->

    <p>&nbsp;</p>
<h3>鋼筋屈紮</h3>
    <div class="btn-group" style="width:100%">
    <button style="width:100%"><a href="/pdf_files/tt/dcba21001.pdf">DCBA21001</button></a>
    </div>

    <p>&nbsp;</p>
<h3>泥水粉飾</h3>
<div class="btn-group" style="width:100%">
  <button style="width:50%"><a href="/pdf_files/tt/dcbp21001.pdf">DCBP21001</button></a>
  <button style="width:50%"><a href="/pdf_files/tt/dcbp21002.pdf">DCBP21002</button></a>
</div>

    <p>&nbsp;</p>
<h3>細木工藝</h3>
<div class="btn-group" style="width:100%">
  <button style="width:50%"><a href="/pdf_files/tt/dcjn21001.pdf">DCJN21001</button></a>
  <button style="width:50%"><a href="/pdf_files/tt/dcjn21002.pdf">DCJN21002</button></a>
</div>

    <p>&nbsp;</p>
<h3>油漆粉飾</h3>
    <div class="btn-group" style="width:100%">
    <button style="width:50%"><a href="/pdf_files/tt/dcpd21001.pdf">DCPD21001</button></a>
    <button style="width:50%"><a href="/pdf_files/tt/dcpd21002.pdf">DCPD21002</button></a>
    </div>

    <p>&nbsp;</p>
<h3>機械維修</h3>
    <div class="btn-group" style="width:100%">
    <button style="width:100%"><a href="/pdf_files/tt/dcpm21001.pdf">DCPM21001</button></a>
    </div>

    <p>&nbsp;</p>
<h3>水喉</h3>
    <div class="btn-group" style="width:100%">
    <button style="width:50%"><a href="/pdf_files/tt/dcpp21001.pdf">DCPP21001</button></a>
    <button style="width:50%"><a href="/pdf_files/tt/dcpp21002.pdf">DCPP21002</button></a>
    </div>

    <p>&nbsp;</p>
<h3>電力裝置</h3>
    <div class="btn-group" style="width:100%">
    <button style="width:50%"><a href="/pdf_files/tt/dcec21001.pdf">DCEC21001</button></a>
    <button style="width:50%"><a href="/pdf_files/tt/dcec21002.pdf">DCEC21002</button></a>
    </div>

    <p>&nbsp;</p>
<h3>工地測量</h3>
    <div class="btn-group" style="width:100%">
    <button style="width:50%"><a href="/pdf_files/tt/dcss21001.pdf">DCSS21001</button></a>
    <button style="width:50%"><a href="/pdf_files/tt/dcss21002.pdf">DCSS21002</button></a>
    </div>

    {% endblock %}
